@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');
body {
    background-color: rgb(48, 48, 48);
    font-family: "Smooch Sans", serif;
    font-size: large;
}


header{
    background-color: rgb(236, 236, 236);

    width: 80%;
    height: 110px;

    /* Del borde hacia afuera */
    margin: auto; /* centro */

    /* Del borde hacia adentro */
    padding: 35px 50px 35px 50px; /* arriba derecha abajo izquierda */
}

nav{
    float: right;
    width: 60%;
    border: solid 3px crimson;
    padding: 20px;
    
}

a {
    text-decoration: none;
    color: black;
    float: left;
    padding: 15px;
    text-transform: uppercase;
}

a:hover {
    background-color: crimson;
    color: white;
    font-size: larger;
    cursor: pointer;
}