header{
    /* Reglas */
    background-color: rgb(94, 115, 75);

    width: 80%;
    height: 250px;

    /* Del borde hacia afuera */
    margin: auto; 

    /* Del borde hacia adentro */
    padding: 30px 10px 20px 50px; /* arriba derecha abajo arriba */

}

nav{
    float: right;
}